body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}


h1 {
  margin: 0;
}

#about {
  
  padding: 20px;
  text-align: center;
}

.about-content img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.about-content{
  width: 500px;
  justify-content: center;
}

.about-content img {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#projects {
  padding: 50px;
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.btn {
  display: inline-block;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #000000;
  color: white;
  text-decoration: none;
  border-radius: 30px;
}

.btn:hover{
  background-color: #333;
  transition: 1s;
}

.button-container {
  display: inline-block;
}

.project {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px ;
}

.project img {
  width: 500px;
height: auto;
margin-bottom: 30px;
}

.project img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

h2 {
  margin-top: 0;
}

#contact {
  background-color: #f9f9f9;
padding: 20px;
width: 100%;
margin-top: auto;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

li {
  margin-bottom: 10px;
}

#habilidades {
  text-align: center;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

li:last-child {
  margin-right: 0;
}

.skill {
  margin: 10px;
  text-align: center;
}

.skill img {
  width: 100px;
  height: 100px;
}

.skill h3 {
  margin-top: 10px;
}

li a {
  text-decoration: none;
  color: #333;
  padding: 5px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px;
  background-color: #000000;
  color: #f9f9f9;
  border-radius: 30px;
}

li a:hover {
  background-color: #333;
  color: #fff;
  transition: 0.3s;
}

#contact h2{
  text-align: center;


}




/* Responsividade para dispositivos móveis */
@media only screen and (max-width: 600px) {
  header {
    padding: 10px;
  }

  #titulo-projeto{
      margin-bottom: 30px;
  }

  #about {
    padding: 10px;
  }

  #projects {
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
  }

 

  #about .about-content img {
    width: 150px;
  }

  #contact {
    padding: 10px;
  }
}

.project img {
  width: 300px;
height: auto;
margin-bottom: 30px;
}

.project img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}

#habilidades {
  text-align: center;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill {
  margin: 10px;
  text-align: center;
}

.skill img {
  width: 100px;
  height: 100px;
}

.skill h3 {
  margin-top: 10px;
}
@media only screen and (max-width: 600px) {
  .column {
    flex-direction: column;
    
  }
}

.container {
  width: 100%;
  padding: 10px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
}

#about {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;

}

.about-content img {
  width: 150px;
}

#projects {
  padding: 20px;
}

.project {
  margin-bottom: 20px;
}

#contact {
  padding: 20px;
}

.about-content img {
  width: 150px;
}


